*
{
    box-sizing: border-box;
    margin: 0;
}
body
{
    background:url("../img/bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: sans-serif;
}
body::before
{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #88a8a8;
    opacity:0.432;
    z-index: -1;
}
.nav
{
    z-index: 1;
    background-color: #052426;
    color: white;
    height: 10%;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.nav img
{
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    left: 2%;
    top: 0;
}
.mini_container
{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form
{
    background-color: white;
    width: 45%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.login_title
{
    color: white;
    background-color: #51bfd0;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login_title h3
{
    margin-left: 4%;
}
.login_title button
{
    border: none;
    background:none;
    cursor: pointer;
    color: white;
    margin-right: 4%;
}
.inputs
{
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.login
{
    display: flex;
    align-items: center;
    width: 90%;
    border: 1px solid rgb(209, 204, 204);
    background-color: #f0eef1;
}
.login input
{
    width: 92%;
    padding: 4%;
    border: none;
    outline: none;
    background-color: #f0eef1;

}
.password
{
    border: 2px solid aquamarine;
    display: flex;
    align-items: center;
    width: 90%;
    border: 1px solid rgb(209, 204, 204);
    background-color: #f0eef1;
}
.password input
{
    width: 92%;
    padding: 4%;
    border: none;
    outline: none;
    background-color: #f0eef1;
}
.submits_container
{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
}
.submits
{
    display: flex;
    align-items: flex-start;
    width: 92%;
}
.submits a
{
    text-decoration: none;
    color: gray;
    padding: 2.5%;
    border-radius: 6px;
}
.submits input[type=submit]
{
    padding: 1em;
    border-radius: 6px;
    background-color: #51bfd0;
    color: white;
    transition: 0.3s ease-in-out;
    border: none;
    cursor: pointer;
}
.submits input[type=submit]:hover
{
    background-color: #4096a3;
}
.submits .inscription
{
    margin-left: 4%;
}
.submits .inscription:hover
{
    border: 1px solid#4096a3;
}
.message
{
    color: red;
}
.error
{
    text-align: center;
    color: red;
    font-weight: bold;
}
